<!DOCTYPE html>
<html>
<head>
  <title>Editar Produto</title>
  <link rel="stylesheet" type="text/css" href="/styles_nav.css">
  <link rel="stylesheet" type="text/css" href="/styles_form_prod.css">
</head>
<body>
  <nav>
    <a href="/lista-de-produtos" style="color: #fff;" class="voltar-link">Voltar</a>
  </nav>
  <div class="container">
    <h1>Editar Produto</h1>
    <form action="/editar-produto/<%= produto.prod_id %>" method="POST">
      <div class="form-group">
        <label for="prod_name">Nome do Produto:</label>
        <div id="prod_name" class="non-editable"><%= produto.prod_name %></div>
      </div>

      <div class="form-group">
        <label for="prod_qtd">Quantidade:</label>
        <input type="number" id="prod_qtd" name="prod_qtd" value="<%= produto.prod_qtd %>" step="any" required min="0">
      </div>

      <div class="form-group">
        <label for="prod_notif">Deseja receber notificação?</label>
        <div class="checkbox-container">
          <input type="checkbox" id="prod_notif" name="prod_notif" <%= produto.prod_notif ? 'checked' : '' %>>
        </div>
      </div>

      <div class="form-group" id="prod_notif_dias_container" style="<%= produto.prod_notif ? '' : 'display: none;' %>">
        <label for="prod_notif_dias" class="left-aligned-label">Dias antes para notificar:</label>
        <input type="number" id="prod_notif_dias" name="prod_notif_dias" value="<%= produto.prod_notif_dias %>" min="0" max="31">
      </div>

      <button type="submit" class="button">Salvar</button>
    </form>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const checkbox = document.getElementById("prod_notif");
      const diasContainer = document.getElementById("prod_notif_dias_container");

      checkbox.addEventListener("change", function () {
        diasContainer.style.display = checkbox.checked ? "block" : "none";
      });
    });
  </script>
</body>
</html>
