<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lista de Produtos</title>
  <link rel="stylesheet" type="text/css" href="/styles_nav.css">
  <link rel="stylesheet" type="text/css" href="/styles_list_prod.css">
</head>
<body>
  <nav>
    <a href="/index?username=<%= username %>" style="color: #fff;" class="voltar-link">Voltar</a>
  </nav>
  <div class="container">
    <h1>Lista de Produtos</h1>
    <a href="/cadastrar-produto" class="button-cadastrar">Cadastrar Produto</a>
    <table class="table">
      <thead>
        <tr>
          <th>Nome do Produto</th>
          <th>Quantidade</th>
          <th>Unidade</th>
          <th>Modo de Armazenagem</th>
          <th>Fornecedor</th>
          <th>Telefone/Celular</th>
          <th>Endereço</th>
          <th>Notificar</th>
          <th>Dias</th>
          <th>Editar</th>
          <th>Deletar</th>
        </tr>
      </thead>
      <tbody>
        <% produtos.forEach((produto) => { %>
          <tr>
            <td><%= produto.prod_name %></td>
            <td><%= produto.prod_qtd %></td>
            <td><%= produto.prod_uni %></td>
            <td><%= produto.prod_md_armaz %></td>
            <td><%= produto.prod_fornecedor %></td>
            <td><%= produto.prod_tel_for %></td>
            <td><%= produto.prod_end_for %></td>
            <td><%= produto.prod_notif ? 'Sim' : 'Não' %></td>
            <td><%= produto.prod_notif_dias %></td>
            <td><a href="/editar-produto/<%= produto.prod_id %>"><img src="/edit.png" alt="Editar" style="width: 30px; height: 30px;"></a></td>
            <td><a href="/deletar-produto/<%= produto.prod_id %>"><img src="/delete.png" alt="Deletar" style="width: 30px; height: 30px;"></a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const urlParams = new URLSearchParams(window.location.search);
      const deletionSuccess = urlParams.get('deletionSuccess');
      const deletionError = urlParams.get('deletionError');

      if (deletionSuccess) {
          alert('Produto excluído com sucesso!');
      } else if (deletionError) {
          alert('Erro ao excluir o produto. Por favor, tente novamente.');
      }
  });
</script>
</body>
</html>
